.full-height { height: 100%; }

.full-width { width: 100%; }
a.full-width, input[type=submit].full-width { display: block; text-align: center; }

.interactable { cursor: pointer }

.margin-1 { margin: 1em; }
.margin-2 { margin: 2em; }
.margin-3 { margin: 3em; }

.margin-b1 { margin-bottom: 1em; }
.margin-b2 { margin-bottom: 2em; }
.margin-b3 { margin-bottom: 3em; }

.margin-l1 { margin-left: 1em; }
.margin-l2 { margin-left: 2em; }
.margin-l3 { margin-left: 3em; }

.margin-r1 { margin-right: 1em; }
.margin-r2 { margin-right: 2em; }
.margin-r3 { margin-right: 3em; }

.margin-t1 { margin-top: 1em; }
.margin-t2 { margin-top: 2em; }
.margin-t3 { margin-top: 3em; }

.padding-1 { padding: 1em; }
.padding-2 { padding: 2em; }
.padding-3 { padding: 3em; }

.padding-b0 { padding-bottom: 0em; }
.padding-b1 { padding-bottom: 1em; }
.padding-b2 { padding-bottom: 2em; }
.padding-b3 { padding-bottom: 3em; }

.padding-l1 { padding-left: 1em; }
.padding-l2 { padding-left: 2em; }
.padding-l3 { padding-left: 3em; }

.padding-r1 { padding-right: 1em; }
.padding-r2 { padding-right: 2em; }
.padding-r3 { padding-right: 3em; }

.padding-t1 { padding-top: 1em; }
.padding-t2 { padding-top: 2em; }
.padding-t3 { padding-top: 3em; }

.stripped { margin: 0; padding: 0; }
