header {
    @include textured( 0.40 );
    
    background-color: $dark-cerulean;
    border-bottom: 1px solid darken( $dark-cerulean, 20% );
    color: $white;
    width: 100%;
}

.header__link {
    border-radius: 0.5em;
    color: $white;
    display: inline-block;
    font-size: 1.125em;
    padding: 0.75em 0;
    
    &:hover {
        background-color: gray;
    }

    &.open {
        background-color: gray;
        color: $white;
    }
}

.header__nav {
    float: right;
    height: 100%;
    
    li {
        display: block;
        float: left;
        margin-left: 2em;
    }
    
    ul {
        @include clearfix;
        @include vertically-center;
        
        display: block;
        list-style: none;
        margin: 0;
    }
}

.header__title {
    float: left;
}

.header__wrapper {
    border-bottom: 2px solid lighten( $dark-cerulean, 10% );
    padding: 1em 0;
}
