header {
    @include translucent-background( 0.40, 'shadow.png' );
    
    background-color: $dark-cerulean;
    box-shadow: 0 5px 15px 0 $black;
    color: $white;
    width: 100%;
    z-index: 2;
}

.header__link {
    border-radius: 0.5em;
    color: $white;
    display: inline-block;
    font-size: 1.25em;
    padding: 0.75em 0;
}

.header__nav {
    float: right;
    height: 100%;
    margin-top: 1em;
    
    li {
        display: block;
        float: left;
        margin-left: 2em;
    }
    
    ul {
        @include clearfix;
        @include vertically-center;
        
        display: block;
        list-style: none;
        margin: 0;
    }
}

.header__title {
    float: left;
}

.header__wrapper {
    padding: 1em 0;
}
