header {
    border-top: 1px solid darken( $dark-cerulean, 7% );
    box-shadow: 0 0px 20px 0 rgba( 0, 0, 0, 0.50 );
    color: $dark-cerulean;
    position: relative;
    width: 100%;
    z-index: 10;
}

.header__link {
    color: $white;
    display: inline-block;
    font-size: 1.25em;
    padding: 0.75em;
    
    &:hover {
        @include translucent-image( 0.35, 'shadow.png' );
    
        background-color: lighten( $dark-cerulean, 5% );
    }
    
    &.-open {
        @include translucent-image( 0.50, 'shadow.png' );
    
        background-color: darken( $dark-cerulean, 5% );
        border-left: 1px solid lighten( $dark-cerulean, 2% );
        border-right: 1px solid lighten( $dark-cerulean, 2% );
    }
}

.header__lower {
    @include translucent-image( 0.40, 'shadow.png' );
    
    background-color: $dark-cerulean;
    color: $white;
}

.header__nav {
    float: right;
    
    li {
        display: block;
        float: left;
    }
    
    ul {
        @include clearfix;
        @include vertically-center;
        
        display: block;
        list-style: none;
        margin: 0;
    }
}

.header__phone {
    float: right;
    height: 6em;
    overflow: hidden;
    
    span {
        font-size: 1.25em;
        line-height: 4.8em;
    }
}

.header__slogan {
    float: left;
    line-height: 3.5em;
}

.header__title {
    float: left;
    height: 6em;
}

.header__upper {
    background-color: $white;
    overflow: hidden;
}
