section {
    padding-bottom: 5em;
    padding-top: 5em;
}

.banner {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    margin: 0;
    padding: 6.5em 0;
    width: 100%;
    
    &.-bikers {
        background-image:  image-url( 'bikers.jpg' );
    }

    &.-community {
        background-image: image-url( 'community.jpeg' );
    }

    &.-country-road {
        @include translucent-background( 0.75, 'country-road.jpg' );
    }
    
    &.-family {
        background-image: image-url( 'family.jpg' );
    }
    
    &.-seniors {
        background-image: image-url( 'seniors.jpeg' );
    }
}

.blue-herring {
    @include translucent-background( 0.20, 'herringbone.svg' );
}

.map-container {
    height: 30em;
    width: 100%;
}

.page-content {
}

.panel {
    background-color: $white;
    border-radius: 0.25em;
    margin-bottom: 1em;
    padding: 1em;
}

#map-canvas {
    height: 100%;
    width: 100%;
}

#page-wrapper {
    flex: 1;
}
