section {
    padding-bottom: 5em;
    padding-top: 5em;
}

.banner {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    margin: 0;
    padding: 6.5em 0;
    width: 100%;
    
    &::before {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    &.-bikers {
        background-image:  image-url( 'bikers.jpg' );
    }

    &.-country-road {
        @include translucent-background( 0.75, 'country-road.jpg' );
    }
    
    &.-family {
        @include translucent-background( 1.00, 'family.jpg' );
    }
}

.blue-herring {
    @include translucent-background( 0.20, 'herringbone.svg' );
}

.map-container {
    height: 30em;
    width: 100%;
}

.page-content {
    padding-bottom: 4em;
}

.panel {
    background-color: $white;
    border-radius: 0.25em;
    margin-bottom: 1em;
    padding: 1em;
}

#map-canvas {
    height: 100%;
    width: 100%;
}

#page-wrapper {
    flex: 1;
}
