@mixin accent-family {
    font-family: Kalam, cursive;
}

@mixin clearfix {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin color-band( $background-color, $min-width ) {
    background-color: $background-color;
    display: block;
    min-width: $min-width;
    width: 100%;
}

@mixin faux-table {
    border-collapse: collapse;
    display: table;
    
    & > * {
        display: table-row;
        width: 100%;
        
        & > * {
            display: table-cell;
        }
    }
}

@mixin overflow-clear {
    display: block;
    overflow: hidden;
    zoom: 1;
}

@mixin text-family {
    font-family: 'Source Sans Pro', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', Ubuntu, sans-serif;
}

@mixin heading-family {
    font-family: Economica, Impact, sans-serif;
}

@mixin signature-family {
    font-family: Bree, Ubuntu, sans-serif;
}

@mixin spacers--horizontal {
    & > * {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    
    & > *:first-child {
        padding-top: 0;
    }
    
    & > *:last-child {
        padding-bottom: 0;
    }
}

@mixin spacers--vertical {
    & > * {
    
        & > * {
            padding-left: 0.5em;
            padding-right: 0.5em;
        }
        
        & > *:first-child {
            padding-left: 0;
        }
        
        & > *:last-child {
            padding-right: 0;
        }
    }
}

@mixin translucent-background( $alpha, $image ) {
    position: relative;
    
    &::before {
        background-image: image-url( $image );
        background-repeat: both;
        bottom: 0;
        content: '';
        left: 0;
        opacity: $alpha;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 0;
    }
    
    .grid-container {
        position: relative;
        z-index: 200;
    }
}

@mixin vertically-center {
    &::before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
}
