.page-content
  %section
    .grid-container
      .grid-100
        %h1.heading.-large
          About Our Company
        %p
          Benefit Choices has been in the insurance business since ... .
      .grid-40
      .grid-60
        %h2.heading.-medium
          Tammy Kipen
      .grid-60
        %h2.heading.-medium
          Angela Kaminski
        %p
          
