.page-content
  %section
    .grid-container
      .grid-100.centered
        %h1.heading.-large
          Our Company
        %h2
          Since 2003
        %p
          Benefit Choices was established in 2003 by owner and founder Tammy Kipen.
        %p
          Benefit Choices is a third party insurance intermediary that provides services including consultation, registration, and claims assistance at no cost to you. Our agents are certified with numerous health coverage companies and are capable of guiding you to the right plan for you without organizational bias.
        %p
          It is our goal to treat all of our clients with honesty and integrity. We aim to find 
        %p
          We provide a service to our clients by utilizing our experience with a variety of individuals, company workforces, and providers to find the best benefit plans for them. Our aim is to help our customers be fully informed and well-educated about all the options available to them. By analyzing your needs, we can customize a program so that it matches your objectives.
        %p
          At Benefit Choices, it is our goal to work with our customers to 
        %p
          We are always looking for the best products with the best customer service for the best price. Our agents offer their guidance in determining which product or combination of products is most fitting for your particular situation.
