.page-content
  %section.banner.-family
    .grid-container
      .grid-40
        %div
          %h1.heading.-large
            Finding the best health coverage for your personal needs and budget.
          %p
            Here at Benefit Choices, we offer our guidance in matching your individual or company requirements with the insurance plans that will work best for you. Our experienced insurance professionals are available to help you find solutions that meet your unique needs. We are dedicated to finding the plan that best serves you.
      .grid-60
        %br
  %section
    .grid-container
      %h1.centered.heading.-large
        Questions about which health coverage options are right for you?
      %p.centered
        Our experienced agents are available to help.
      .centered
        = link_to 'Contact Us', new_email_path, :class => 'button -bright -large'
  %section.blue-herring
    .grid-container
      .grid-33
        %h2.centered.heading.-medium
          Medicare
        %p
          We are licensed in and knowledgeable about Medicare. Our agents are happy to assist you in finding the right Medicare plan.
      .grid-33
        %h2.centered.heading.-medium
          Medi-Share
        %p
          
      .grid-33
        %h2.centered.heading.-medium
          Everything Else
        %p
          We are also able to provide Accident, Dental, Disability, Life (whole, term, and universal), and Vision coverage options.
