.page-content
  %section.banner.-family
    .grid-container
      .grid-40
        .color.-translucent-white.padding-1
          %h1.heading.-large
            Finding the best health coverage for your personal needs and budget.
          %p
            Here at Benefit Choices, we offer our guidance in matching your individual or company requirements with the insurance plans that will work best for you. Our experienced insurance professionals are available to help you find solutions that meet your unique needs. We are dedicated to finding the plan that best serves you.
      .grid-60
        %br
  %section
    .grid-container
      .grid-100
        %h1.centered.heading.-large
          Questions about which health coverage options are right for you?
        %p.centered
          Our experienced agents are available to help.
        .centered
          = link_to 'Contact Us', contact_us_path, :class => 'button -bright -large'
  %section
    .grid-container.padding-b3
      .grid-33.padding-lr4
        = image_tag image_url( 'medicare-logo.png' ), :alt => 'Medicare logo', :class => 'full-width'
      .grid-33.padding-lr4
        = image_tag image_url( 'medi-share-logo.png' ), :alt => 'Medicare logo', :class => 'full-width'
      .grid-33.padding-lr4
        = image_tag image_url( 'health-logo.svg' ), :alt => 'Healthcare logo', :class => 'full-width'
    .grid-container
      .centered.grid-33
        %h2.heading.-medium
          Medicare
        %p
          With the large number of options that it offers to individuals with disabilities and seniors 65 and over, Medicare insurance can be difficult to navigate. Our Medicare-certified agents are happy to assist you in finding the right Medicare plan.
      .centered.grid-33
        %h2.centered.heading.-medium
          Medi-Share
        %p
          Medi-Share is an affordable, Biblical, penalty-free health care solution based on the principle of sharing medical needs as a Christian community. As New Member Representatives, we can help you get informed about this faith-based health insurance alternative.
      .centered.grid-33
        %h2.centered.heading.-medium
          Everything Else
        %p
          We are also able to provide Accident, Dental, Disability, Life (whole, term, and universal), Vision, and other coverage options. We can help you compare a variety of products to find the one that is right for your unique situation.
