.page-content
  %section.banner.-seniors
    .grid-container
      .grid-40
        %h1.heading.-large
          Medicare
        %p
          Medicare is available to individuals with disabilities and seniors age 65 and older. 
      .grid-60
  %section
    .grid-container
      .grid-100.centered
        %h2.heading.-medium
          Do you want to sign up for Medicare? We can help.
        %p
          Our agents are Medicare-certified and highly knowledgeable about the variety of options that Medicare offers. We can tell you if you are eligible and guide you to a plan that covers your needs.
        = link_to 'Contact Us about Medicare', new_email_path, :class => 'button -bright -large'
